.form_container {
  border: 2px solid rgb(110, 83, 143);
  border-radius: 15px;
  margin: 70px;
  margin-bottom: 46px;
  padding: 44px 30px;

}

.info {
  margin-right: 80px;
}


.form_content {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  padding: 41px 35px;
  width: 30%; 
  align-items: center;
  margin: 15px;
  margin-left: 33%;
  border: 2px solid rgb(164, 105, 147);
  background-color: rgb(214, 164, 177);
 }

 .text_name {
   color:rgb(75, 54, 54);
   font-size: 17px;
   margin-bottom: 2px;
 }

 .text_email {
  color: rgb(75, 54, 54);
  font-size: 17px;
  margin-bottom: 2px;

 }
 .text_info {
   color: rgb(75, 54, 54);
   margin-top: 18px;
   font-size: 17px;
 }

 .select {
   margin-top: 8px;
   margin-left: 28px;
 }

 .form_label_2 {
   margin-top: 8px;
 }

 .text_info_message {
   margin-top: 26px;
 }

 .message {
   color: rgb(75, 54, 54);
   margin-top: 19px;
   font-size: 17px;
 }


 .submit-button {
   position: absolute;
   top: 115%;
   border: 2px solid rgb(110, 83, 143);
   border-radius: 8px;
   background-color: rgb(208, 164, 214);
   padding: 10px 19px;
   width: 26%;
   margin-left: 25%;
  
 }

 .submit-button:hover {
   cursor: pointer;
 }

 .submit {
   color: rgb(92, 56, 56);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
   
 }


.success {
  color: green;
}


.error {
  color: red;
}

