.form_container {
  border: 2px solid rgb(213, 168, 179);
  border-radius: 15px;
  margin: 70px;
  margin-bottom: 46px;
  padding: 44px 30px;

}

.info {
  margin-right: 80px;
}


.form_content {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  padding: 41px 35px;
  width: 30%; 
  align-items: center;
  margin: 15px;
  margin-left: 33%;
  border: 2px solid rgb(107, 86, 132);
  background-color: rgb(214, 164, 177);
 }

 .text_name {
   color:rgb(75, 54, 54);
   font-size: 17px;
   margin-bottom: 2px;
 }

 .text_email {
  color: rgb(75, 54, 54);
  font-size: 17px;
  margin-bottom: 2px;

 }
 .text_info {
   color: rgb(75, 54, 54);
   margin-top: 18px;
   font-size: 17px;
 }

 .select {
   margin-top: 8px;
   margin-left: 28px;
 }

 .form_label_2 {
   margin-top: 8px;
 }

 .text_info_message {
   margin-top: 26px;
 }

 .message {
   color: rgb(75, 54, 54);
   margin-top: 19px;
   font-size: 17px;
 }


 .button {
   border: 2px solid rgb(107, 86, 132);
   border-radius: 7px;
   background-color: rgb(214, 164, 177);
   padding: 10px 19px;;
   margin-left: 10px;
   margin-top: 5px;
 }

 .button:hover {
   cursor: pointer;
 }

 .submit {
   color: rgb(75, 54, 54);
 }


.success {
  color: green;
}


.error {
  color: red;
}

