.button {
  position: absolute;
  top: 216px;
  margin-left: 46%;
  display: flex;
  font: inherit;
  padding: 0.4rem 1.4rem;
  border-radius: 20px;
  color: rgb(128, 62, 73);
  background-color: pink;
  margin-top: 6px;
  border: 1px solid rgb(179, 136, 143);
}


.button:hover,
.button:active {
  color: var(--main-color);
  background: var(--main-bg-color);
  background-color: pink;
  cursor: pointer;
}