.button {
  position: absolute;
  top: 216px;
  margin-left: 47%;
  display: flex;
  font: inherit;
  padding: 0.4rem 1.4rem;
  border-radius: 20px;
  color: rgb(128, 62, 73);
  background-color: pink;
  margin-top: 6px;
  border: 1px solid rgb(179, 136, 143);
}


.button:hover,
.button:active {
  color: var(--main-color);
  background: var(--main-bg-color);
  background-color: pink;
  cursor: pointer;
}

/* media queries */

@media (min-width: 480px) {
  .button {
   margin-left: 43%;
  }
}


@media (min-width: 510px) {
  .button {
   margin-left: 46%;
  }
}

@media (min-width: 710px) {
  .button {
   margin-left: 48%;
  }
}

@media (min-width: 870px) {
  .button {
   margin-left: 48%;
  }
}

@media (min-width: 900px) {
  .button {
   margin-left: 47%;
  }
}
