
.header {
  position: relative;
  border: 5px solid rgb(235, 215, 221);
  padding: 10px;
  margin: 50px;

}


.header nav {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
}

.header li {
  margin: 0.1rem;
  width: 5rem;
  justify-content: space-between;
}

.header a {
  color:rgb(62, 77, 150);
  font-size: 19px;
  text-decoration: none;
}

.onsignup_btn {
  display: flex;
  margin-left: 5%;
  margin-bottom: 5px;
  padding: 8px 10px;
  border: 2px solid rgb(176, 123, 132);
  background-color: pink;
  border-radius: 14px;
  cursor: pointer;
}
