.footer_container {
  position: fixed;
  left: 0;
  bottom:0px;
  border: 5px solid rgb(235, 215, 221);
  background-color: rgb(214, 164, 177);
  width: 100%;
  padding-top: 10px;
  
}

.desc {
 text-align: center;
 color: rgb(253, 237, 237);
}

.icons {
  font-size: 30px;
  /* margin-left: 30px; */
  text-align: center;
}

.icon_1 {
  margin-left: 8px;
  color: rgb(17, 14, 109);
}

.icon_2 {
  margin-left: 8px;
  color:rgb(86, 22, 81)
}

.icon_3 {
  margin-left: 8px;
  color: red;
}

.icon_4 {
  margin-left: 8px;
  color: rgb(83, 175, 220);
}