@import-normalize;
:root {
  --main-bg-color: #a96c6c;
  --main-font-family: 'arial, helvetica, sans-serif';
  --main-font-weight: 'normal';
  --main-font-size: 0.75rem;
  --main-border-color: #459c45;
  --main-font-color: #2b3575;
  --main-color: #3693ac;
}


html {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
}

h1 {
  color: var(--main-font-color);
}

