.items_container {
 text-align: center;
 border: 3px solid rgb(225, 63, 163);
 border-radius: 25px;
 background: linear-gradient( to left, rgb(227, 158, 200), rgba(118, 58, 25, 0.403));
 width: 90%;
 margin: auto;
 /* box-shadow: 20px 20px 20px 20px rgb(212, 113, 113); */
 margin-top: 20px;
}

.items_container ul {
  list-style-type: none;
}
.images {
  height: 200px;
  width: 330px;
  border: 5px solid pink;
  border-radius: 90%;
  margin-bottom: 8%;
  box-shadow: 24px 10px 5px;

}

.list_items_text {
  display: flex;
}

.ul_texts {
  font-size: 19px;
  color: rgb(156, 45, 64);
}

.intro_text {
  text-align: center;
  width: 29%;
  font-size: 34px;
  margin-left: 37%;
  box-shadow: 10px 5px 15px;
}

.desc_text {
  text-align: center;
  margin-left: 22px;
}